#mainHeader {
    text-align:center;
    margin:0;
    padding:-10px;
    height:300px;
    color: $main-text-color;
    font-family:$main-font;
    font-size:50px;
    letter-spacing:5px;
    background-color: $pink;
    margin-top: 20px;
}

h1 {
    padding-top: 85px;
}
