#mainHeader {
    text-align:center;
    height: 10%;
    width: 100%;
    color: white;
    font-family:$main-font;
    font-size: 5vw;
    padding-bottom: 6vh;
    padding-top: 2vh;
    letter-spacing:5px;
    background-color: $pink;
}
