// main rules go here

// font families 
@font-face {
    font-family: 'Julius Sans One';
    src: url('../fonts/juliussansone-regular.ttf');
    src: url('../fonts/juliussansone-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand-light.ttf');
    src: url('../fonts/quicksand-light.ttf') format('truetype');
}

body {
    background-color: $purple;
    margin: 0; 
    border: 0;
}


// ft section

#ftSection {
    margin: auto;
}

.favouriteThings {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
    .ft_img {
        width: 40%;
        margin: 2vw;
        cursor: pointer;
        border: 5px solid $pink;
        border-radius: 2px;
    }

    .ft_desc {
        margin: 2vw;
        display: flex;
        align-items: center;
        padding-left: 2vw;
        padding-right: 2vw;
        font-family: $main-font;
        background-color: $pink;
        color: white;
        border-radius: 2px;
        width: 70vw;
        height: 15vh;
    }

    .ft_title {
        font-family: $main-font;
        background-color: $pink;
        color: white;
        border-radius: 2px;
    }
}
